.drop-down-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drop-down-item {
  color: #64748b;
  list-style-type: none;
}
.indication-container {
  width: 63px;
  height: 24px;
  background-color: rgba(28, 212, 212, 0.16);
  border-radius: 4px;
  color: #facc15;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 104px;

  align-self: flex-end;
}
@media screen and (min-width: 768px) {
  .indication-container {
    margin-left: 563px;
  }
}
.drop-down-state-code {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.drop-down-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-self: flex-start;
  color: #64748b;
  width: 200px;
}
.right-icon {
  border: 1px solid #facc15;
  margin-left: 10px;
}
