.recovered-line-graph-container {
  width: 1146px;
  height: 328px;

  color: #27a243;
  background: #182829;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 32px;
}

.recovered-line-graph-mobile-container {
  width: 312px;
  height: 231px;

  color: #27a243;
  background: #182829;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .recovered-line-graph-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .recovered-line-graph-mobile-container {
    display: none;
  }
}
