.spread-trends-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  color: #cbd5e1;
}

@media screen and (max-width: 768px) {
  .spread-trends-heading {
    font-size: 24px;
    text-align: center;
  }
}

.cumulative-container {
  width: 140px;
  height: 60px;
  left: 150px;
  top: 1623px;

  background: #1c1c2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.cumulative-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  text-align: center;

  color: #64748b;
}

.daily-container {
  width: 140px;
  height: 60px;
  left: 150px;
  top: 1623px;

  background: #1c1c2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.daily-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;

  text-align: center;

  color: #e2e8f0;
}
.cumulative-daily-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .cumulative-daily-container {
    display: none;
  }
}
.bar-chart-container {
  background-color: transparent;
  width: 1146px;
  height: 328px;
  margin-bottom: 90px;
}

.bar-chart-mobile-container {
  background-color: transparent;
  width: 312px;
  height: 231px;
}

@media screen and (max-width: 768px) {
  .bar-chart-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .bar-chart-mobile-container {
    display: none;
  }
}
