.total-data-container {
  display: flex;
  font-family: Roboto;
  margin-top: 112px;

  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.confirmed-container {
  color: #ff073a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.round {
  height: 40px;
  width: 40px;
  border: 1px solid #ff073a;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active-container {
  color: #007bff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recovered-container {
  color: #28a745;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deceased-container {
  color: #6c757d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
