.about-heading {
  width: 129px;
  height: 64px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;

  line-height: 64px;

  color: #f8fafc;
}

@media screen and (max-width: 768px) {
  .about-heading {
    font-size: 24px;
    line-height: 32px;
  }
}
.about-container {
  width: 1440px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #161625;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .about-container {
    width: 100vw;
  }
}

.about-content {
  margin-left: 150px;
}

@media screen and (max-width: 768px) {
  .about-content {
    margin-left: 24px;
  }
}

.last-update {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #94a3b8;
}

@media screen and (max-width: 768px) {
  .last-update {
    font-size: 14px;
  }
}
.distribution-ready-para {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #e2e8f0;
}

@media screen and (max-width: 768px) {
  .distribution-ready-para {
    font-size: 16px;
    line-height: 24px;
  }
}
.faqs-list-container {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 20px;
}
.question {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  color: #94a3b8;
}

@media screen and (max-width: 768px) {
  .question {
    font-size: 14px;
    line-height: 24px;
  }
}
.answer {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  color: #007bff;
}

@media screen and (max-width: 768px) {
  .answer {
    font-size: 14px;
    line-height: 24px;
  }
}
.faqs-item {
  margin-left: 0px;
}
