.deceased-line-graph-container {
  width: 1146px;
  height: 328px;
  left: 150px;
  top: 1747px;
  color: #6c757d;
  background-color: #1c1c2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 10px;
}
