.header-container {
  background-color: #1e1e30;
  height: 56px;
  display: flex;
  flex-direction: row;
  flex-direction: space-between;
}
@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }
}
.covid-heading {
  font-family: Bree serif;
  color: #f8fafc;
  font-size: 16px;
  margin-left: 24px;
}
.add-to-queue-btn {
  background-color: transparent;
  border-color: transparent;
  margin-left: 185px;
}
@media screen and (min-width: 768px) {
  .add-to-queue-btn {
    display: none;
  }
}
.header-items-container {
  color: #94a3b8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 800px;
  list-style-type: none;
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .header-items-container {
    display: none;
  }
}

.home-text {
  font-family: Roboto;
  margin-right: 20px;
}
.about-text {
  font-family: Roboto;
  margin-left: 20px;
}
.india-text {
  color: #007bff;
}
.link-item {
  text-decoration: none;
  color: #94a3b8;
}
